*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, a{
    text-decoration: none;
    list-style: none;
}

:root{
    --body-background-color:#ffffff;
    --text-primary-color:#333;
    --text-secondary-color:#1b1b1b;
    --secondary-background-color:#f1f6fa;
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--body-background-color);
    color: var(--text-primary-color);
    padding: 0 30px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    font-size: 1.1rem;
    line-height: 1;
}

ul{
    display: flex;
    gap: 20px;
    padding: 0 30px;
}

ul li{
    color: var(--text-primary-color);
}

.social-container{
    display: flex;
    gap: 10px;
}

i{
    color: var(--text-primary-color);
    font-size: 20px;
    line-height: 24px;
}

ul li:hover, i:hover{
    color: var(--text-secondary-color);
    transform: scale(1.1);
    transition: all ease-in-out;
}

/* Secção About */
.about-section{
    display: flex;
    background-color: var(--secondary-background-color);
    width: 100%;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-around;
    font-family: Poppins, sans-serif;
}

.about-section h2{
    font-size: 40px;
    font-weight: 300;
}

.about-section h1{
    font-size: 60px;
    font-weight: 400;
}

.perfil-img img{
    width: 300px;
    height: auto;
    filter: grayscale(60%);
}