*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, a{
    text-decoration: none;
    list-style: none;
}

:root{
    --body-background-color:#ffffff;
    --text-primary-color:#333;
    --text-secondary-color:#1b1b1b;
    --secondary-background-color:#f1f6fa;
    --card-background-color:#6e6e6eb3;
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--body-background-color);
    color: var(--text-primary-color);
    padding: 0 30px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    font-size: 1.1rem;
    line-height: 1;
}

ul{
    display: flex;
    gap: 20px;
    padding: 0 30px;
}

ul li{
    color: var(--text-primary-color);
}

.social-container{
    display: flex;
    gap: 10px;
}

i{
    color: var(--text-primary-color);
    font-size: 20px;
    line-height: 24px;
}

ul li:hover, i:hover{
    color: var(--text-secondary-color);
    transform: scale(1.1);
    transition: all ease-in-out;
}

/* Secção About */
.about-section{
    display: flex;
    background-color: var(--secondary-background-color);
    width: 100%;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-around;
    font-family: Poppins, sans-serif;
}

.about-section h2{
    font-size: 40px;
    font-weight: 300;
}

.about-section h1{
    font-size: 60px;
    font-weight: 400;
}

.perfil-img img{
    width: 300px;
    height: auto;
    filter: grayscale(60%);
}

/* Secção Projects */
.section-title{
    color: var(--text-primary-color);
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}

.projects-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    padding: 10px 30px;
    gap: 40px;
}

.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    color: var(--text-primary-color);
    font-size: 1rem;
    font-weight: 400;
    padding: 10px;
    width: 300px;
    height: 360px;
    box-shadow:
        0 0px 10px var(--card-background-color),
        0 0 10px rgba(31, 111, 235, 0.25);
    border-radius: 15px;
    text-align: center;
}

.project-card a{
    padding: 10px 15px;
    background-color: var(--text-primary-color);
    color: var(--body-background-color);
    border-radius: 8px;
    width: 100%;
}

.project-card a:hover{
    background-color: var(--text-secondary-color);
}

.project-card img{
    width: 260px;
    height: 260px;
    object-fit:contain;
}

/* Secção skills */
.skills-section {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px;
    align-items: center;
    scroll-margin-top: 230px;
}

.skills-section img {
    height: 70px;
    width: 70px;
}

.caixas-tecnologias {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.area {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 20px;
    padding: 30px;
    box-shadow:
        0 0px 10px var(--card-background-color),
        0 0 10px rgba(31, 111, 235, 0.25);
    border-radius: 15px;
    transition: box-shadow 0.4s ease, transform 0.4s ease;
}

.icones_caixa {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.icone {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.icone span {
    font-size: 12px;
    font-weight: 800;
    text-align: center;
}

.icone img:hover{
    transform: scale(1.05);
}